html{
  font-size: 62.5%;
}
body{
    
  font-family: 'Manrope', sans-serif;
    padding:0%;
    margin:0%;
  }
  header{
    border:1px solid black;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to right, rebeccapurple, violet);
  }
  nav a{
    text-decoration: none;
    color: black;
    text-transform:uppercase;
    font-size:2.5rem;
    margin-left:5%;
    padding-left:2%;
    padding-right:2%;
    font-family: 'Manrope', sans-serif;
   
    
    
  }
  
  nav a:hover{
    animation-name: navigation;
    animation-duration: 4s;
  }
  nav{
    padding-top:0%;
    margin-top:0%;
    padding-bottom:0%;
    height:8%;
  }
  #name{
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-top: 2%;
    margin-left:1%;
    margin-bottom:.1%;
    padding: 0%;
    font-family: 'Fredericka the Great', cursive;
  }
  h6{
    margin-left: 15%;
    margin-top: -.5%;
    font-family: 'Economica', sans-serif;
    font-size: 2rem;
  }
   #heading{
     display:flex;
    margin-right: 0%;
    justify-content: space-evenly;
  }
  footer{
   background-color:gray;
    font-size:11px;
    height:100px;
    width:100vw;
    margin:0%;
    padding-top:7%;
    text-align:center;
    color:white;
  }
  footer a{
    color:white;
    text-decoration:none;
  }
  #bigpic{
    width:60%;
    display:block;
    padding-top:0px;
  }
  #individual p{
    margin-top:1%;
    text-indent:35px;
  }
  
  #aboutmesection{
    display:block;
    width:40%;
    padding:20px;
    font-size: 1.6rem;
    order:2;
  }
  #individual{
    display:flex;
    justify-content: space-evenly;
    margin:2%;
    flex-wrap:nowrap;
    padding:.5%;
    width:95vw;
    border:1px solid lightslategray;
  }
  #hi{
    font-size:5rem;
    font-family: 'Kristi', cursive;
  }
  .gallery .gallimages img{
    width:18vw;
    height:18vw;
  }
  .gallery{
    display:flex;
    margin-bottom:50px;
    justify-content: space-evenly;
  }
  .gallimages{
    border:1px solid lightslategrey;
    padding:2%
  }
  #top{
    background-color:darkcyan;
  }
  
  @media (max-width: 800px){



  }
  @media (max-width: 500px){

    #bigpic {
      visibility:hidden;
      display:none;
    }
    #name{
      font-size:2rem;
    }
    h6{
      font-size:1.3rem;
    }
    #heading{
     justify-content:flex-start;
     margin:0%
    
    }
    #heading a{
      margin-bottom:1%;
    }
    #individual {
      width:95vw;
      background-color: lightgray;
    }
    nav a{
      font-size:1.3rem;
    }
    #aboutmesection{
      width:80vw;
      
    }
    .gallery{
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
    .gallery .gallimages img{
      height:35vh;
      width:75vw;
    }
    .gallery .gallimages{
      width:auto;
      margin-bottom:1.5%
      
    }
}
  @keyframes navigation {
    0%   {color:white;}
    25%  {color:lightgrey;}
    50%  {color: gray;}
    75% {color:darkslategray;}
    100% {color:black;}
  }